@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family:
      -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
      helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  }

  html {
    font-family: var(--font-family);
  }

  html,
  body {
    background: #f8f8f8;
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

.container {
  max-width: 1256px;
  width: 100%;
  @apply px-2 md:px-4 lg:px-0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid var(--triangle-color);
}

.break-line:not(:has(*)) {
  height: 12px;
}